---
import BaseLayout "../layouts/BaseLayout.astro"
export const { "title" } (Welcome to Hawk Eye's Digital Space),
---

<BaseLayout>
<title>
# Welcome to Hawk Eye The Rapper
</title>
Explore the **music, insights, and movement** behind Hawk Eye.

## Latest Updates
- Check out the [Blog](blog)
- Listen to new releases on [Spotify](https://spotify.com)
- Get exclusive merch from [Our Store](/store)
</BaseLayout>